<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332482139848-uhsod30su9lj8s7ng3bbbs5nrkoidbkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332482139848-uhsod30su9lj8s7ng3bbbs5nrkoidbkd</string>
	<key>API_KEY</key>
	<string>AIzaSyAWVCQx6i4mu83M2TlqtzJH0LB-GGLKVSo</string>
	<key>GCM_SENDER_ID</key>
	<string>332482139848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.competition</string>
	<key>PROJECT_ID</key>
	<string>competition-d3efb</string>
	<key>STORAGE_BUCKET</key>
	<string>competition-d3efb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332482139848:ios:50955ab475ce904e9477fd</string>
</dict>
</plist>